@import './normalize';
@import './fonts';
@import './includes';

* {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

html {
  overflow-x: hidden;
  font-family: 'Inter' !important;
  font-weight: 400;
  color: #FFFFFF;
  background-color: #171826;
  max-width: 768px;
  margin: 0 auto;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
  position: relative;
}


.main {
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: 0px 12px 44px 12px;
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;

  --main: #8E96FF;

  &.orange {
    --main: #FFDD72;
  }

  &.green {
    --main: #A5F59C;
  }

  &.red {
    --main: #FF7F71;
  }

  &.blue {
    --main: #33C3F8;
  }
}

.circle {
  width: 560px;
  height: 560px;
  border-radius: 50%;
  background-color: var(--main);
  position: fixed;
  top: -286px;
  left: 50%;
  transform: translateX(-50%);
  filter: blur(85.8237533569336px);
  z-index: -1;

  @media (max-width:510px) {
    left: 20%;
  }
}

.cross {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 10px;
  right: 6px;
  z-index: 2;
  cursor: pointer;
}

.lottie {
  height: 374px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 420px;
  margin: 0 auto;
  position: relative;

  &.hide {
    transform: scale(1.1);

    img {
      position: absolute;
      opacity: 0;
    }
  }


  &::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 323px;
    opacity: 0.1;
    background: var(--Primary-Primary, #33C3F8);
    filter: blur(50px);
    transform: scale(0.7);
  }

  img {
    width: 280px;
    height: 158px;
    object-fit: cover;
    position: relative;
    opacity: 1;
    transition: 0.5s;
  }


}